* {
  cursor: default;
  font-family: 'Luckiest_Guy';
}

body {
  font-size: 35px;
  background: url('https://cdn.britannica.com/24/130024-050-E62C844D/England-features-map.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'Luckiest_Guy';
  src: url('/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

header {
  /* color: yellowgreen; */
  background-color: aquamarine;
  padding-top: 1px;
  padding-bottom: -5px;
  text-align: center;
}

/* ------------------------------------------------------ */

.task--explaining {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 5px 5px 5px;
  border-radius: 15px;
  margin-bottom: 7%;
  max-width: 35%;
  text-align: center;
  font-family: fantasy;
  border: 5px solid grey;
}

.container--4 {
  display: grid;
  justify-items: center;
}

/* ------------------------------------------------------ */

.container {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  background-color: rgba(255, 255, 255, 0.7);
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
}

.container input {
  display: grid;
  text-align: center;
  background-color: rgba(255, 177, 8, 0.95);
  font-family: sans-serif;
  font-size: 40px;
  border-radius: 15px;
  /* border: silver solid 15px; */
  /* height: 90%;
  width: 80%; */
}

.check-button {
  display: grid;
  justify-items: center;
}

#check-button {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  border: 0.1em inset silver;
}

.example {
  text-align: center;
  background-color: rgba(255, 177, 8, 0.95);
  border-radius: 15px;
  font-size: 45px;
}

.example p {
  padding-top: 23px;
}
