* {
  cursor: default;
  font-family: 'Luckiest_Guy';
}

body {
  font-size: 35px;
  background: url('https://cdn.britannica.com/24/130024-050-E62C844D/England-features-map.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'Luckiest_Guy';
  src: url('/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

header {
  /* color: yellowgreen; */
  background-color: aquamarine;
  padding-top: 1px;
  padding-bottom: -5px;
  text-align: center;
}

.container {
  /* position: relative; */
  margin-top: 10%;
  display: flex;
  padding: 1em;
  width: 85%;
  /* grid-column: 1/3; */
  /* justify-items: center; */
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 5%;
}

#check-button {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  border: 0.1em inset silver;
}

.container form input {
  text-align: center;
  font-size: 22px;
  /* height: 150px;
  width: 32em; */
  background-color: rgba(255, 177, 8, 0.95);
  font-family: sans-serif;
}

/* .form {
  flex: 2;
}

.img {
  flex: 1;
} */

.example {
  text-align: center;
  /* height: 150px;
  width: 14em; */
  background-color: rgba(255, 177, 8, 0.95);
}

.container p {
  padding-top: 23px;
}
